.groupdetailstop{
    display: flex;
    flex-direction: column;
    gap:10px;
    gap: 10px;
    font-family: sans-serif;
    padding: 5px 0;
}
.groupdetailstop-container{
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 10px;
    font-family: sans-serif;
}
.group-details-top-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 0 0;
}
.group-details-top-left-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}
.group-details-image img{
    width: 170px;
}
.group-name-details h1{
    color: var(--white000);
    font-size: 50px;
    line-height: 0.8em;
}
.group-name-details p{
    color: var(--electric);
}
.group-name-details .about{
    color: var(--white001);
    margin-top: 10px;
}
.group-name-details h2{
    color: var(--border);
    margin-top: 15px;
    font-size: 20px;
}
.group-name-details h2 span{
    color: var(--electric);
}
.group-details-top-left-stats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-details-top-left-stats h2{
    color: var(--electric);
    font-size: 18px;
}
.group-details-top-left-stats h2 span{
    margin-left: 10px;
}
.group-details-top-left-stats .group-details-stat{
    background-color: var(--dark800);
    padding: 10px 20px;
    border-radius: 5px;
}
.group-admins{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: var(--dark800);
}
.adminbox{
    display: flex;
    align-items: center;
    justify-content: left;
    gap:20px;
    border: 1px solid var(--border02);
    padding: 15px 10px;
    border-radius: 5px;
    background-color: var(--dark700);
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.admin-details-container{
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 0;
    height: 250px;
    border: 1px solid var(--border02);
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.admin-details-container:hover{
    border: 1px solid var(--electric);
}
.admin-details-container .admin-profile-image{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 100px;

}
.admin-profle-pic{
    position: absolute;
    left: 0;
    right: 0;
    height: 180px;
    border-radius: 10px;
    bottom: 0;
    border: 2px solid var(--electric);
}
.admin-details-container .admin-profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 9px;
}
.group-admin-details{
    width: 100%;
    padding: 5px 10px;
}
.group-admin-details h2{
    text-align: center;
    color: var(--white000);
    font-size: 16px;
}
.group-admin-details p{
    text-align: center;
    font-size: 12px;
    font-size: 900;
    color: var(--border);
}
.group-admin-details-stats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 2px;
}
.group-admin-stats{
    background-color: var(--dark800);
    padding: 3px;
    font-size: 10px;
    width: 25%;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
}
.group-admin-stats p{
    color: var(--border);
}
.group-admin-stats span{
    color: var(--electric);
}
.followup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 4px;
    gap: 10px;
}
.followup button{
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: var(--white000);
    background-color: var(--electric);
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}
.followup button:nth-child(1){
    background-color: var(--dark900);
    border: 1px solid var(--border02);
}
.followup button:nth-child(1):hover{
    background-color: var(--dark700);
}
.followup button:nth-child(2):hover{
    background-color:blue;
}







.adminbox:hover .admin-details-container{
   opacity: 1;
   visibility: visible;
}
.admin-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.admin-details-name h2{
    font-size: 18px;
    color: var(--border);
    color: var(--white000);
}
.admin-details-name p{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.groupowner-rank{
    color: var(--purple);
    border: 1px solid var(--purple); 
}
.groupadmin-rank{
    color: var(--electric);
    border: 1px solid var(--electric); 
}


/* related groups */
.group-details-top-right{
    width: 20%;
    padding: 10px 0 0 0;
}
.group-details-top-right-any{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--dark800);
    padding: 10px;
    border-radius: 7px;
    
}
.group-details-top-right-top{
    flex-grow: 1;
}
.group-details-top-right-top h2{
    color: var(--white000);
    font-size: 20px;
}
.related-group-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* to be deleted */
.related{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}
.related img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.related-details h2{
    color: var(--white001);
    font-size: 16px;
}
.related-details p{
    color: var(--border);
    font-size: 13px;
}
.related a{
    text-decoration: none;
    color: var(--electric);
    font-size: 14px;
}
/* to be deleted */









.group-details-top-right-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.group-post{
    width: 100%;
    display: block;
    text-align: center;
    background-color: var(--electric);
    color: var(--white000);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.group-settings{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.group-settings a{
    text-decoration: none;
    color: var(--white000);
    border: 1px solid var(--border02);
    padding: 10px 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}




.group-details-nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.group-details-nav-links-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 100px;
    padding: 20px 0;
    position: relative;
}
.group-details-nav-links-top a{
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: var(--border);
    text-transform: capitalize;
}
.group-details-nav-links hr{
    border: none;
    height: 1px;
    background-color: var(--border);
}
.group-details-nav-links-indicator{
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: var(--electric);
    bottom: -2px;
    left: 0px;
    transition: .3s;
}




.group-details-nav-links-bottom{
    width: 100%;
    margin-top: 20px;
    background-color: var(--dark800);
    padding: 20px;
    border-radius: 7px;
    display: flex;
    align-items: top;
    justify-content: left;
    gap: 20px;
    border: 1px solid var(--border02);
}
.group-details-nav-links-bottom-left img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.group-details-nav-links-bottom-right{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.group-details-nav-links-bottom-right input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--border02);
    background-color: var(--dark700);
    color: var(--white000);
}
.group-details-nav-links-bottom-right input:focus{
    outline: none;
    border: 1px solid var(--electric);
}
.group-details-nav-links-bottom-type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-details-nav-links-bottom-type button{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    border: none;
    background-color: transparent;
    color: var(--border);
    cursor: pointer;
    transition: .3s;
}

.group-details-nav-links-bottom-type button:hover{
    color: var(--white000);
}




.group-details-nav-links-bottom{
    width: 100%;
    margin-top: 20px;
    background-color: var(--dark800);
    padding: 20px;
    border-radius: 7px;
    display: flex;
    align-items: top;
    justify-content: left;
    gap: 20px;
    border: 1px solid var(--border02);
}
.group-details-nav-links-bottom-left img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.group-details-nav-links-bottom-right{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.group-details-nav-links-bottom-right input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--border02);
    background-color: var(--dark700);
}
.group-details-nav-links-bottom-right input:focus{
    outline: none;
}
.group-details-nav-links-bottom-type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-details-nav-links-bottom-type button{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    border: none;
    background-color: transparent;
    color: var(--border);
    cursor: pointer;
    transition: .3s;
}

.group-details-nav-links-bottom-type button:hover{
    color: var(--white000);
}

.group-details-posts{
    padding: 20px 0;
}
.group-details-posts-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-details-posts-top .group-details-posts-sort{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}
.group-details-posts-sort button{
    color: var(--border);
    font-size: 18px;
    border: none;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
}
.group-details-posts-sort .active{
    color: var(--electric);
}
.group-details-posts-sort .sortbtns.active{
    color: var(--electric);
}
.group-details-posts-sort button:hover{
    color: var(--white000);
}
.group-details-posts-filter button{
    color: var(--border);
    font-size: 18px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;justify-content: space-between;
    gap: 10px;
    transition: .3s;
    cursor: pointer;
}
.group-details-posts-filter button:hover{
    color: var(--electric);
}


@media (max-width:1024px){
        /* groupd details page stylings */
        .groupdetailstop{
            width: 100%;
        }
        .groupdetailstop-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .group-details-top-left{
            width: 100%;
            padding: 10px;
        }
        .group-details-top-left-top{
            width: 100%;
            display: flex;
            align-items:top!important;
            justify-content: left;
            gap: 30px;
        }
    
        .group-details-image img{
            width: 120px;
        }
        .group-name-details h1{
            font-size: 30px;
            line-height: unset;
        }
        .group-name-details p{
            font-size: 18px;
        }
        .group-name-details h2{
            font-size: 18px;
        }
        .group-name-details .about{
            font-size: 16px;
            margin-top: 5px;
        }
        .group-admins{
            gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .adminbox{
            padding: 5px;
            gap: 5px;
            width: auto;
        }
      
        .admin-image img{
            width: 50px;
            height: 50px;
        }
        .admin-details-name h2{
            font-size: 16px;
        }
        .admin-details-name p{
            display: inline-block;
            font-size: 10px;
            padding: 5px;
        }
    
    
    
    
        .group-details-top-right{
            width: 100%;
        }
        .related-group-box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
        }
        .related{
            background-color: var(--dark700);
            padding: 10px;
            border-radius: 5px;
        }
        .related img{
            width: 30px;
            height: 30px;
        }
        .related-details h2{
            color: var(--white001);
            font-size: 14px;
        }
        .related-details p{
            color: var(--border);
            font-size: 11px;
        }
        .related a{
            text-decoration: none;
            color: var(--electric);
            font-size: 12px;
        }
       
        .group-details-top-right-bottom{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
        .group-post{
            margin-top: 10px;
            width: unset;
            font-size: 18px;
            display: inline-block;
        }
        .group-settings{
            width: unset;
        }
         .group-details-nav-links{
            padding: 10px 15px;
            overflow: hidden;
        }
        .group-details-nav-links-top{
            gap: 20px;
            justify-content: space-between;
           
        }
            
        .group-details-nav-links-top a.active{
            color: var(--electric);
        }
        .group-details-nav-links-top a{
            font-size: 20px;
        }
        .group-details-nav-links-indicator{
            display: none;
        }
    
}







@media (max-width:767px){
    /* groupd details page stylings */
    .groupdetailstop{
        width: 100%;
    }
    .groupdetailstop-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .group-details-top-left{
        width: 100%;
        padding: 10px;
    }
    .group-details-top-left-top{
        width: 100%;
        display: flex;
        align-items:flex-start;
        justify-content: left;
        gap: 10px;
    }
  
    .group-details-image img{
        width: 100px;
    }
    .group-name-details h1{
        font-size: 18px;
        line-height: unset;
    }
    .group-name-details p{
        font-size: 12px;
    }
    .group-name-details h2{
        font-size: 14px;
    }
    .group-name-details .about{
        font-size: 10px;
        margin-top: 5px;
    }
    .group-details-top-left-stats h2{
        font-size: 12px;
    }
    .group-details-top-left-stats{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .group-details-top-left-stats .group-details-stat{
        padding: 5px;
    }
    .group-admins{
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .adminbox{
        padding: 5px;
        gap: 5px;
        width: auto;
    }
    .admin-details-container{
        display: none;
    }
    .admin-image img{
        width: 25px;
        height: 25px;
    }
    .admin-details-name h2{
        font-size: 12px;
    }
    .admin-details-name p{
        display: inline-block;
        font-size: 10px;
        padding: 5px;
    }




    .group-details-top-right{
        width: 100%;
    }
    .related-group-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        column-gap: 10px;
    }
    .related{
        margin-bottom: 0;
    }
    .related img{
        width: 30px;
        height: 30px;
    }
    .related-details h2{
        color: var(--white001);
        font-size: 14px;
    }
    .related-details p{
        color: var(--border);
        font-size: 11px;
    }
    .related a{
        text-decoration: none;
        color: var(--electric);
        font-size: 12px;
    }
    .group-details-top-right-bottom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .group-post{
        margin-top: 10px;
        font-size: 16px;
    }
    .group-settings a{
        gap: 5px;
        padding: 10px;
    }
    .group-details-nav-links-top a.active{
        color: var(--electric);
    }

    .group-details-nav-links{
        padding: 10px;
    }
    .group-details-nav-links-top{
        gap: 20px;
        justify-content: space-between;
       
    }
    .group-details-nav-links-top a{
        text-align: left;
        font-size: 14px;
    }
    .group-details-nav-links-indicator{
        display: none;
    }



    .group-details-nav-links-bottom{
        border-radius: 4px;
        padding: 10px;
    }
    .group-details-nav-links-bottom-left img{
        width: 40px;
        height: 40px;
    }
    .group-details-nav-links-bottom-right{
        width: 85%;
    }
    .group-details-nav-links-bottom-right input{
        border-radius: 3px;
    }
    .group-details-nav-links-bottom-type button{
        font-size: 14px;
        gap: 5px;
    }
}